<!--This is to show the question and possible answers-->
<div class="trivia-container">
   <p class="trivia-question"> {{Question}} </p>
   <div class="answers">
      <input type="checkbox" class="answer-choice" value={{option1}}>
      <input type="checkbox" class="answer-choice" value={{option2}}>
      <input type="checkbox" class="answer-choice" value={{option3}}>
      <input type="checkbox" class="answer-choice" value={{option4}}>
   </div>
</div>

<!--This is to show which question they are on-->
<div class="question-number-container">
   <p class="question-number"> {{questionNumber}} </p>
</div>